{% extends "main/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}

<div class="container mt-3">

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup p-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn mt-3 btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>

{% endblock %}
